.App-header {
  text-align: center;
  background-color: black;
}

.appeal {
  
  text-align: center;
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  /* font-size: 70px; */
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  animation: showing_appeal 1.5s steps(400) 0s forwards;
  
}

@keyframes showing_appeal {
  from {
    width: 0;
  }
  to {
    width: 46.7%;
  }
}

.line{
  border: solid 1px white;
  height: 240px;
}

.name {
  margin-top: 0px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 70px;
}

.appeal_text{
  display: flex;
  flex-direction: column;
}

.main{
  display: flex;
  flex-direction: row;
  margin-top: 300px;
  /* border: solid 1px white;   */
  width: 829.031px;
  height: 242px;
}

.main_img{
  height: 200px;
  width: 350px;
  margin-left: 50px;
}

img{
  margin-top: 10px;
}

.start{
  margin-top: 150px;
}
 
.start:hover{
  text-shadow: 0px 0px 10px white;

}

.start > img {
  animation: move-up-down 1s infinite alternate;
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.select_img{
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-bottom: 300px;
}

.camera:hover {
  text-shadow: 0px 0px 10px white;
}
.gallery:hover {
  text-shadow: 0px 0px 10px white;
}

.camera{
  margin-right: 550px;
}

.caption{
  animation: slideHead 2s forwards;
}

.head{
  animation: slideCaption 2s forwards;
}

.gallery{
  margin-left: 550px;
}

@keyframes slideHead {
  from{
    margin-left: -500px;
    opacity: 0;
  }
  to{
    margin-left: 0px;
    opacity: 1;
  }
}
@keyframes slideCaption {
  from{
    margin-right: -500px
  }
  to{
    margin-right: 0px
  }
}

@keyframes disappearCamera {
  from{
    margin-left: 0px;
    opacity: 1;
  }
  to{
    margin-left: -500px;
    opacity: 0;
  }
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: black; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* about oval , oblong , circle , square , heart js files */
.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
}

/* 갤러리 이미지 스타일 */
.image-container {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.image-container img {
  width: 200px; /* 이미지 크기를 조정하세요 */
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.Home_icon{
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
}